# Day 1 : Basics of Python

## Printing in python

In [1]:
print("Hello world")

Hello world

In [2]:
X = 10
Y = "Dennis"
print(X)
print(Y)

10
Dennis

## Getting an input from a user

In [3]:
x = input()
print(x)
print(type(x))

 5

5
<class 'str'>

In [4]:
y = int(input())
print(y)
print(type(y))

 5

5
<class 'int'>

## Python Operators

In [5]:
x = 6
y = 7
print(x+y)

13

In [6]:
x = '6'
y = '7'
print(x+y)

#here the answer is 67 because 6 and 7 are of string datatypes and '+' acts as an operator used to concatenate.
#This abilty of '+' to behave accordingly is called operator overloading

67

In [7]:
x = 7
y = 8
print(x*y)

56

In [9]:
#difference between '/' and '//' operator
x = 9
y = 3
print(x/y) # gives floating point value
print(x//y) # gives integer value

3.0
3

In [11]:
X = 7
y = 3
print(X%y)

1

## Python Lists

In [13]:
exList = [1,2,3,4,5]
exList

[1, 2, 3, 4, 5]

In [14]:
fruits = ['Apple','orange','banana','grape']
fruits

['Apple', 'orange', 'banana', 'grape']

## List indexing and slicing

In [15]:
fruits[0]

'Apple'

In [16]:
fruits[-1]

'grape'

In [17]:
fruits[3]

'grape'

In [18]:
fruits[1:3]
#start at 0 and ends at 3

['orange', 'banana']

In [19]:
fruits[1:3:2]
#start from 1st index to 3rd index with step of 2

['orange']

In [20]:
fruits[:3]
#start from 0th index to 3rd index

['Apple', 'orange', 'banana']

In [21]:
fruits[1:] 
#start from 1st index to last index

['orange', 'banana', 'grape']

## List Operations

In [22]:
#adding an element to a list
# to add an element inside a list we use the 'append()' function

fruits.append('kiwi')
fruits

['Apple', 'orange', 'banana', 'grape', 'kiwi']

In [23]:
#to insert an element at a specific index we use 'insert()' function
# Syntax : List_name.insert(index, element)

fruits.insert(3,'Avocado')
fruits

['Apple', 'orange', 'banana', 'Avocado', 'grape', 'kiwi']

In [24]:
#to extend list => extend(listnm)
#fruits2 = ['guava','pineapple','lychee']
fruits.extend(['guava','pineapple','lychee'])
fruits

['Apple',
 'orange',
 'banana',
 'Avocado',
 'grape',
 'kiwi',
 'guava',
 'pineapple',
 'lychee']

In [25]:
#to concantenate two list we use '+' 
vegies = ['tomato','spinach','brinjal']
fruits + vegies

['Apple',
 'orange',
 'banana',
 'Avocado',
 'grape',
 'kiwi',
 'guava',
 'pineapple',
 'lychee',
 'tomato',
 'spinach',
 'brinjal']

In [26]:
#remove list item
fruits.remove('banana')
fruits

['Apple', 'orange', 'Avocado', 'grape', 'kiwi', 'guava', 'pineapple', 'lychee']

In [27]:
fruits.pop()
fruits

#pop() is used to remove the last element in the list

['Apple', 'orange', 'Avocado', 'grape', 'kiwi', 'guava', 'pineapple']

In [28]:
#we can also delete the element in the list by specifying the index
del fruits[3]
fruits

['Apple', 'orange', 'Avocado', 'kiwi', 'guava', 'pineapple']

In [30]:
#to delete the entire list 
del fruits
fruits

#this error is because you have already deleted the list fruits.

NameError: name 'fruits' is not defined

## Tuples in python

In [31]:
tuple1 = ('dennis','john','yadu')
tuple1

('dennis', 'john', 'yadu')

In [32]:
tuple1[2]

'yadu'

### Tuples only support read operations. We cannot modify the elements inside a tuple. That is tuples are immutable data type

## Python Dictionaries

In [34]:
cars = {
    "ford" : "Mustang",
    "BMW" : "x1",
    "Toyota" : "Fortuner"
}
cars

{'ford': 'Mustang', 'BMW': 'x1', 'Toyota': 'Fortuner'}

In [36]:
car = {
    'brand' : 'Honda',
    'model' : 'City',
    'year' : 2019,
    'colors' : ['red','maroon','white','black']
}
car

{'brand': 'Honda',
 'name': 'City',
 'year': 2019,
 'colors': ['red', 'maroon', 'white', 'black']}

## Dictionary operations

In [37]:
# to access dictionary items

# to get the value of a particular key
car.get('brand')

'Honda'

In [38]:
#to get the keys in the dictionary
car.keys()

dict_keys(['brand', 'name', 'year', 'colors'])

In [39]:
#to get the values in the dictionary
car.values()

dict_values(['Honda', 'City', 2019, ['red', 'maroon', 'white', 'black']])

In [40]:
#to change the values of a certain key
# way 1
car['name'] = 'amaze'
car.values()

dict_values(['Honda', 'amaze', 2019, ['red', 'maroon', 'white', 'black']])

In [41]:
#way 2
car.update({'name':'civic'})
car.values()

dict_values(['Honda', 'civic', 2019, ['red', 'maroon', 'white', 'black']])

In [42]:
#to add new keys and values to dictionary
car['engine'] = 'petrol'
car

{'brand': 'Honda',
 'name': 'civic',
 'year': 2019,
 'colors': ['red', 'maroon', 'white', 'black'],
 'engine': 'petrol'}

# Conditional statements in python

In [43]:
x = 10
y = 5
if x>y:
    print(x,"greater than ",y)

10 greater than  5

In [44]:
x = int(input())
if (x%2 == 0):
    print('even number')
else:
    print('odd number')

 5

odd number

In [45]:
x = 5
y = 6
z = 7

if (x > y and x > z):
    print(x, "is the largest")
elif (y > x and y > z):
    print(y, "is the largest")
else:
    print(z, 'is the largest')

7 is the largest

# Looping statements in python

## While loop

In [50]:
i = 5
while (i!=0):
    print(i)
    i-=1

5
4
3
2
1

In [51]:
i = 10
while (i != 0):
    if (i == 5):
        break
    else:
        print(i)
    i-=1

#when a break statement is seen inside a loop the command gets out of the loop or exit the loop

10
9
8
7
6

In [52]:
#continue in loop
i = 0
while (i!=10):
    if (i%2) == 0:
        i+=1
        continue
    else:
        print(i)
    i+=1

#whenever a continue is encountered it skips an iteration

1
3
5
7
9

## for loop

In [53]:
#for looping through lists
list1 = [2,3,1,5,6,8,9,10]
for element in list1:
    print(element)

2
3
1
5
6
8
9
10

In [54]:
#using the range function
for i in range(len(list1)):
    print(list1[i])

2
3
1
5
6
8
9
10

### Range() function : range(start, stop, step)
### start : starting index of the list
### stop : Upto which the loop should run
### step : step size or updation

#### The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

#### A loop inside another loop is called a nested loop
#### Break and continue statments can be implemented inside for loop in the same as implemented in the while loop. Only difference is that it does not require an updation statement

# Functions in python

#### Defining a function

In [55]:
def sum():
    x = 4
    y = 6
    print(x+y)

#### Calling a function

In [56]:
#To call a function, use the function name followed by parenthesis:

sum()

10

## Function Arguments

#### Information can be passed into functions as arguments.

#### Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [57]:
def power(x,y):
    print(x**y)

power(2,5) #function call

# here x gets the value 2 and y gets the value 5

32

In [59]:
#function with argument and return statement
def name(f_name, l_name):
    return (f_name+l_name)

first = input()
second = input()
full_name = name(first,second)
full_name

 dennis
 jose

'dennisjose'

## Function recursion

### Python also accepts function recursion, which means a defined function can call itself.

### Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

In [63]:
def factorial(x):
    if x == 1:
        return x
    else: return x*factorial(x-1)

value = int(input("Enter the number : "))
factorial(value)

Enter the number :  5

120